In [1]:
import pandas as pd 
import numpy as np

In [3]:
track_data = pd.read_csv('spotify_tracks_data_2023.csv')
track_data

                            id  track_popularity  explicit
0       02MBhqgR7WeeI4ZfB6Lo0i                 0     False
1       5j4M4gLYuUy9PVw0vsXWyq                 0     False
2       46EucLPJpx0QM3SCjzzdP0                 0     False
3       4nK2LvW3osgDT89S38Mcg6                 0     False
4       1Pq37WIQZDG7yNFnY5IbqG                 0     False
...                        ...               ...       ...
438933  4rXLjWdF2ZZpXCVTfWcshS                93      True
438934  7MXVkk9YMctZqd1Srtv4MB                94      True
438935  6uIIdjYTxxpWOyWuVXrKQO                95      True
438936  4MjDJD8cW7iVeWInc2Bdyj                96      True
438937  7iQXYTyuG13aoeHxGG28Nh                97      True

[438938 rows x 3 columns]

In [6]:
track_data.drop("explicit", axis=1, inplace=True)

In [7]:
track_data.head()

                       id  track_popularity
0  02MBhqgR7WeeI4ZfB6Lo0i                 0
1  5j4M4gLYuUy9PVw0vsXWyq                 0
2  46EucLPJpx0QM3SCjzzdP0                 0
3  4nK2LvW3osgDT89S38Mcg6                 0
4  1Pq37WIQZDG7yNFnY5IbqG                 0

In [9]:
track_data.rename(columns = {"id" : "track_id"}, inplace= True)

In [10]:
track_data.head()

                 track_id  track_popularity
0  02MBhqgR7WeeI4ZfB6Lo0i                 0
1  5j4M4gLYuUy9PVw0vsXWyq                 0
2  46EucLPJpx0QM3SCjzzdP0                 0
3  4nK2LvW3osgDT89S38Mcg6                 0
4  1Pq37WIQZDG7yNFnY5IbqG                 0

In [11]:
track_data

                      track_id  track_popularity
0       02MBhqgR7WeeI4ZfB6Lo0i                 0
1       5j4M4gLYuUy9PVw0vsXWyq                 0
2       46EucLPJpx0QM3SCjzzdP0                 0
3       4nK2LvW3osgDT89S38Mcg6                 0
4       1Pq37WIQZDG7yNFnY5IbqG                 0
...                        ...               ...
438933  4rXLjWdF2ZZpXCVTfWcshS                93
438934  7MXVkk9YMctZqd1Srtv4MB                94
438935  6uIIdjYTxxpWOyWuVXrKQO                95
438936  4MjDJD8cW7iVeWInc2Bdyj                96
438937  7iQXYTyuG13aoeHxGG28Nh                97

[438938 rows x 2 columns]